<% include header %>
<div class="row">
	<div class="col-lg-12">
		<h1>Identity Examples</h1>
		<div class="help-text text-center">The credentials in each case are</div>
		<div class="help-text text-center">username: <strong>joe</strong> and password: <strong>jsconf</strong></div>
		<ul>
			<li><h2 id="group1">Group 1: Basic Forms Login</h2></li>
			<ul>
				<li><a href="<%=basedir%>/example-1.1.html">Example 1.1</a> - Bootstrap <a href="http://getbootstrap.com/examples/signin/">signin example (broken by default)</a></li>
				<li><a href="<%=basedir%>/example-1.2.html">Example 1.2</a> - Plaintext login using Bootstrap</li>
				<li><a href="<%=basedir%>/example-1.3.html">Example 1.3</a> - Hashing passwords with per-user salt</li>
				<li><a href="<%=basedir%>/example-1.4.html">Example 1.4</a> - Using bcrypt</li>
				<li><a href="<%=basedir%>/example-1.5.html">Example 1.5</a> - Masking errors to prevent information from leaking</li>
			</ul>
			<li><h2 id="group2">Group 2: Security Enhancements</h2></li>
			<ul>
				<li><a href="<%=basedir%>/example-2.1.html">Example 2.1</a> - Force SSL</li>
				<li><a href="<%=basedir%>/example-2.2.html">Example 2.2</a> - CSRF</li>
				<li><a href="<%=basedir%>/example-2.3.html">Example 2.3</a> - Malicious JavaScript</li>
				<li><a href="<%=basedir%>/example-2.4.html">Example 2.4</a> - Throttling</li>
				<li><a href="<%=basedir%>/example-2.5.html">Example 2.5</a> - CAPTCHAs</li>
				<li><a href="<%=basedir%>/example-2.6.html">Example 2.6</a> - Validating Email Addresses</li>
			</ul>
			<li><h2 id="group3">Group 3: Usability Enhancements</h2></li>
			<ul>
				<li><a href="<%=basedir%>/example-3.1.html">Example 3.1</a> - Tabstops, autofocus, and submission</li>
				<li><a href="<%=basedir%>/example-3.2.html">Example 3.2</a> - Pass*Field password feedback</li>
				<li><a href="<%=basedir%>/example-3.3.html">Example 3.3</a> - zxcvbn password feedback</li>
				<li><a href="<%=basedir%>/example-3.4.html">Example 3.4</a> - jQuery UI login form</li>
				<li><a href="<%=basedir%>/example-3.5.html">Example 3.5</a> - AngularJS login form</li>
			</ul>
			<li><h2 id="group4">Group 4: Third-party Identity Providers</h2></li>
			<ul>
				<li><a href="<%=basedir%>/example-4.1.html">Example 4.1</a> - Facebook</li>
				<li><a href="<%=basedir%>/example-4.2.html">Example 4.2</a> - OAuth v2 (e.g. GitHub) using Passport</li>
			</ul>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<small>
		<i>Examples are part of the <a href="http://environmentsforhumans.com/2013/javascript-summit/">Environments for Humans: JavaScript Summit 2013</a> talk Identifying Humans Safely by Joe Schulman of <a href="http://www.usernest.com">UserNest</a>.  All examples are available under the MIT License.  Copyright &copy; 2013 South Lake Labs, Inc. Source code is on GitHub at <a href="https://github.com/usernest/IdentityExamples">https://github.com/usernest/IdentityExamples.</a></i>
		</small>
	</div>
</div>
<% include footer %>